@charset "utf-8";
@import "../node_modules/bulma/sass/utilities/initial-variables";

$primary: #E072A4;
$info:#9F87AF;
$success:#30BCED;
$warning:#FC5130;
$danger:#303036;
$light:#FFFAFF;
$dark:#050401;
    


@import "../node_modules/bulma/bulma.sass";
